*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --ff-primary: 'Josefin Sans', sans-serif;

  --fs-xl: 1.75rem;
  --fs-lg: 0.875rem;
  --fs-md: 0.75rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-primary: hsl(220, 98%, 61%);
  --clr-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-task-check: var(--clr-gradient);

  --clr-theme-light-100: hsl(0, 0%, 98%);
  --clr-theme-light-200: hsl(236, 33%, 92%);
  --clr-theme-light-300: hsl(233, 11%, 84%);
  --clr-theme-light-400: hsl(236, 9%, 61%);
  --clr-theme-light-500: hsl(235, 19%, 35%);

  --clr-theme-dark-100: hsl(236, 33%, 92%);
  --clr-theme-dark-200: hsl(240, 12%, 97%);
  --clr-theme-dark-300: hsl(234, 39%, 85%);
  --clr-theme-dark-400: hsl(234, 11%, 52%);
  --clr-theme-dark-500: hsl(233, 14%, 35%);
  --clr-theme-dark-600: hsl(237, 14%, 26%);
  --clr-theme-dark-700: hsl(235, 24%, 19%);
  --clr-theme-dark-900: hsl(235, 21%, 11%);
}

:root[data-theme='light'] {
  --clr-text-heading: var(--clr-theme-light-100);
  --clr-text-body: var(--clr-theme-light-500);
  --clr-text-input-placeholder: var(--clr-theme-light-400);
  --clr-text-task-complete: var(--clr-theme-light-300);
  --clr-text-btn: var(--clr-theme-light-400);
  --clr-text-btn-filter: var(--clr-theme-light-500);
  --clr-text-btn-hover: var(--clr-theme-light-500);
  --clr-text-btn-active: var(--clr-primary);

  --clr-border: var(--clr-theme-light-300);
  --clr-shadow: var(--clr-theme-light-500);

  --clr-bg-body: var(--clr-theme-light-100);
  --clr-bg-container: var(--clr-theme-light-100);

  --bg-img: url('./public/bg-mobile-light.jpg');
}

:root[data-theme='dark'] {
  --clr-text-heading: var(--clr-theme-dark-200);
  --clr-text-body: var(--clr-theme-dark-300);
  --clr-text-input-placeholder: var(--clr-theme-dark-400);
  --clr-text-task-complete: var(--clr-theme-dark-500);
  --clr-text-btn: var(--clr-theme-dark-400);
  --clr-text-btn-filter: var(--clr-theme-dark-500);
  --clr-text-btn-active: var(--clr-primary);
  --clr-text-btn-hover: var(--clr-theme-dark-500);

  --clr-border: var(--clr-theme-dark-500);

  --clr-bg-body: var(--clr-theme-dark-900);
  --clr-bg-container: var(--clr-theme-dark-700);

  --bg-img: url('./public/bg-mobile-dark.jpg');
}

/* || typography */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  color: var(--clr-text-body);
}
h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--clr-text-heading);
  letter-spacing: 0.3em;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
input:not([type='text']):hover,
button:hover {
  cursor: pointer;
  color: var(--clr-btn-hover);
}
button,
footer {
  color: var(--clr-text-btn);
}
button:hover {
  color: var(--clr-text-btn-hover);
}
button:active,
.filter__btn.selected {
  color: var(--clr-primary);
}
.filter__btn {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--clr-text-btn);
}
.form__input {
  color: var(--clr-text-body);
}
.form__input::placeholder {
  color: var(--clr-text-input-placeholder);
}
.completed {
  color: var(--clr-text-task-complete);
  text-decoration: line-through;
}

/* || layout */
html[data-theme='light'] body {
  background-image: var(--bg-img);
}
html[data-theme='dark'] body {
  background-image: var(--bg-img);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 2rem;
  background-color: var(--clr-bg-body);
  background-size: 100vw 200px;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
}
header {
  display: flex;
  width: min(100%, 680px);
  justify-content: space-between;
  margin-top: 2rem;
  transition: margin-top 0.25s ease;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(100%, 680px);
}
input,
button {
  border: transparent;
  background-color: transparent;
  padding: 0;
}
input[type='checkbox'] {
  appearance: none;
  position: relative;
}
input[type='checkbox']:checked {
  background: var(--clr-gradient);
  transition: all 0.25s ease;
}
input[type='checkbox']:checked::before {
  content: url('./public/icon-check.svg');
  position: absolute;
  width: 10px;
  height: 14px;
  inset: 0;
  margin: auto;
}
.theme-selector img {
  transition: all 0.35s ease-out;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--clr-bg-container);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 28px -16px var(--clr-shadow);
}
.container:nth-child(2) {
  align-items: normal;
  flex-direction: column;
  padding: 0;
}
.container:not(:first-child) {
  display: none;
}
footer.container {
  background-color: transparent;
  box-shadow: none;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.list__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: all 0.25s ease;
}
.list__item.task {
  border-bottom: 1px solid var(--clr-border);
}
.list__item.task:hover {
  cursor: grab;
}
.list__btn-remove {
  margin-left: auto;
  min-width: 12px;
  max-width: 12px;
  height: 12px;
}
.task {
  padding: 1rem;
}
.list__item-input,
.form__circle {
  content: '';
  min-width: 20px;
  height: 20px;
  border: 1px solid var(--clr-border);
  border-radius: 100%;
}

.completed::before,
.completed .form__circle {
  background: var(--clr-gradient);
}

.form {
  gap: 0.5rem;
}
.form__input {
  width: 100%;
  padding: 0 0.5rem;
  word-wrap: break-word;
}
.form__submit {
  padding: 0.5rem;
  line-height: 1;
  margin-left: auto;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.filter {
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  margin-bottom: 2rem;
}

@media (min-width: 36rem) {
  :root[data-theme='light'] {
    --bg-img: url('./public/bg-desktop-light.jpg');
  }
  :root[data-theme='dark'] {
    --bg-img: url('./public/bg-desktop-dark.jpg');
  }

  body {
    background-size: 100vw 250px;
  }
  header {
    margin-top: 4.5rem;
  }
}

@media (min-width: 62rem) {
  body {
    background-size: 100vw 300px;
  }

  header {
    margin-top: 8rem;
  }
}

/* || utility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.dragging {
  opacity: 0.5;
  cursor: grabbing !important;
}

.filtered,
.removing {
  padding: 0 1rem;
}
.filtered,
.filtered input,
.filtered input::before,
.removing,
.removing input,
.removing input::before {
  opacity: 0;
  min-height: 0 !important;
  height: 0 !important;
  border: none !important;
}
